.home-banner {
  background: url("/assets/banner-bg.jpg");
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-banner h2 {
  color: #1178b0;
  font-weight: 800;
  font-size: 110px;
  text-transform: uppercase;
  opacity: 0.9;
}
.home-banner img {
  position: relative;
  width: 340px;
  opacity: 0.8;
}
