.home-banner {
  background: url("/assets/banner-bg.jpg");
  background-size: cover;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-banner {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-banner h2 {
  color: #1178b0;
  font-weight: 800;
  font-size: 110px;
  text-transform: uppercase;
  opacity: 0.9;
}
.home-banner img {
  position: relative;
  width: 340px;
  opacity: 0.8;
}
.home-banner p {
  margin: 0;
    position: absolute;
    left: 42%;
    bottom: 10%;
    color: white;
    font-size: 20pt;
    font-weight: 600;
    background: rgba(17,120,176,0.7);
    /* opacity: 0.5; */
    padding: 20px;
    border-radius: 20px;
}

.second {
  background-color: white;
  height: 100%;
  padding: 60px;
  margin: 0;
  overflow: hidden;
}
.second .main-title {
  text-align: center;
  padding: 10px;
  font-size: 33pt;
  font-weight: 600;
  color: #1178b0;
  margin: 0;

}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.card {
  width: 340px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #1178b0;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
  opacity: 0.2;
}
.card:hover::before {
  clip-path: circle(300px at 80% -20%);
}
.card-top {
  justify-content: center;
  align-items: center;
}
.card-top img {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  z-index: 20;
  padding: 10px;
  top: 50%;
  transition: 0.5s;
}
.card:hover .card-top img {
  top: 0;
  transform: translateY(0%);
}

.card .card-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
}

.card:hover .card-bottom {
  height: 180px;
}
.card .card-bottom h2 {
  font-weight: 600;
  font-size: 30px;
  color: white;
}
.card .card-bottom h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  margin: 0;
  margin-right: 5px;

}
.card .card-bottom .size {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  padding: 5px;
}
.card .card-bottom .size span {
  color: white;
}

.card .card-bottom a {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  color: #1178b0;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.card:hover .card-bottom a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.tentang {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #3B4856;
  justify-content: center;
  align-items: center;
  padding: 50px;
  overflow: hidden;
}

.tentang h2 {
  font-weight: 600;
  color: white;
  font-size: 32px;
}

.tentang-content {
  position: absolute;
  display: flex;
  width: calc(100% - 200px) !important;
  height: calc(100% - 200px);
  /* background-color: #1178b0; */
  overflow: hidden;
}
.tentang-content .box {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid  #3B4856 ;
  transition: ease-out 1s;
}
.tentang-content .box:hover {
  width: 50%;
}

.tentang-content .box:last-child {
  border-right: none;
}

.tentang-content .box .imageBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0.8;
  
  
}
.tentang-content .box .imageBox:hover {
  opacity: 1;
  
  
}
.tentang-content .box .imageBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tentang-text {
  height: 100%;
  margin: 0;
}
.tentang-text h2 {
  font-size: 53pt;
}
.tentang-text p {
  font-size: 20pt;
}
.tentang-text .imgbx {
  overflow: hidden;
}
.tentang-text .imgbx img {
  height: 100%;
  object-fit: contain;
  position: relative;
  left: -20%;
}

@media (max-width: 1024px) {
  .home-banner img {
    width: 241px;
  }
  .main-banner h2 {
    
    font-size: 79px;
    
}
.home-banner p {
  font-size: 20px;
  bottom: 20%;
}

.card {
  width: 242px;
  height: 414px;
}

.card:hover .card-bottom {
  height: 255px;
}

.tentang-text h2 {
  font-size: 62px;
}

.tentang-text p {
  font-size: 24px;
}


}

@media (max-width: 768px) {
  .home-banner img {
    width: 158px;
  }

  .main-banner h2 {
    font-size: 60px;
  }
  .home-banner p {
    font-size: 18px;
    left: 40%;
  }

  .card {
    width: 181px;
    height: 414px;
  }

  .tentang-text h2 {
    font-size: 47px;
  }

  .tentang-text p {
    font-size: 18px;
  }

  .tentang-text .imgbx img {
    
    left: -60%;
}

.footer-bx p {
  font-size: 11px;
}

}

@media (max-width: 425px) {
  .main-banner {
    display: block;
  }
  .home-banner img {
    position: relative;
    left: 30%;
    top: 20%;
  }
  .main-banner h2 {
    position: relative;
    text-align: center;
    top: 20%;
  }
  .home-banner p {
    left: 15%;
    font-size: 12px;

  }

  .second {
    overflow: visible;
  }
  .second .main-title {
    font-size: 30px;
  }
  .card .card-bottom h2 {
    font-size: 23px;
  }
  
    .card-container {
      display: block;
      overflow: none;
    }
    .card {
      width: 300px;
    }
    .card .card-bottom {
      height: 90px;
    }
    .card:hover .card-bottom {
      height: 200px;
    }

    .tentang h2 {
      font-size: 23px;
      text-align: center;
    }

    

}




